@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-oxanium: "Oxanium", monospace;
}

@layer base {
  html {
    font-family: var(--font-oxanium);
  }
}
