@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* --font-raleway: "Raleway", serif; */
  --font-lekton: "Oxanium", monospace;
}

@layer base {
  html {
    font-family: var(--font-lekton);
  }
}
